
form{
    
    border: 2px solid black;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif; 
    font-weight: bold; 
}


input[type="text"], input[type="tel"],input[type="email"] {

    width: 60%;
    margin-bottom: 15px;
    border: 2px solid;
    border-radius: 4px;
    box-sizing: border-box;
    

}
textarea {
    width: 50%;
    height: 60px;
    margin-bottom: 20px;
    align-items: center;
    border: 2px solid;
    border-radius: 4px;
    box-sizing: border-box;
    
}
